@using ContractAndProjectManager.Helpers
@using ContractAndProjectManager.Entities
@model ContractAndProjectManager.Entities.Contract

@{
    ViewData["Title"] = "Подробнее";
}

<div class="card mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-between">
                <h3>
                    @Model.Title
                </h3>
            </div>

            <div class="grid-default grid-default-2 mb-2">
                <p class="m-0">@DateHelpers.DateFormat(Model.DateCreated)</p>
                <p class="m-0 text-primary">Ответственный - вы</p>
                @if (Model.DateDeadLine != null)
                {
                    <p class="m-0 text-info">Дедлайн - @DateHelpers.DateFormat(Model.DateDeadLine.Value, true)</p>
                }
            </div>
            <div>
                <h6>Примечание</h6>
                <p class="m-0">
                    @Model.Description
                </p>
            </div>
        </li>
        <li class="list-group-item">
            <h5>Этапы</h5>
            <div>
                @foreach (var stage in Model.Stages)
                {
                    <div class="card border-primary mb-2">
                        <div class="card-header text-primary py-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="text m-0">@stage.Title</p>
                            </div>
                        </div>
                        <div class="card-body py-3">
                            <p class="m-0">@stage.Description</p>
                        </div>
                        @if (stage.DateStart != null || stage.DateDeadLine != null)
                        {
                            <div class="card-footer">
                                <div class="grid-default">
                                    @if (stage.DateStart != null)
                                    {
                                        <p class="m-0">Дата начала - @DateHelpers.DateFormat(stage.DateStart.Value, true)</p>
                                    }
                                    @if (stage.DateDeadLine != null)
                                    {
                                        <p class="m-0">Дедлайн - @DateHelpers.DateFormat(stage.DateDeadLine.Value, true)</p>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" style="background: @Model.Status.Status.Color;">
            <p class="text text-white m-0">@Model.Status.Status.Name</p>
            <div>
                <button class="btn btn-light">
                        <a class="text-info" asp-area="TeamLead" asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Project.Id">К проекту</a>
                    </button>
            </div>
        </li>
    </ul>
</div>