@using ContractAndProjectManager.Helpers
@using ContractAndProjectManager.Data
@using ContractAndProjectManager.Entities
@model IEnumerable<ContractAndProjectManager.Entities.Request>
@inject ApplicationContext DbContext;

@{
    ViewData["Title"] = "Заявки";
    var currentStatusId = (int) ViewData["statusId"];
    var statuses = DbContext.RequestStatuses.ToList().Prepend(new RequestStatus
    {
        Id = 0,
        Color = "#343a40",
        Name = "Все"
    });
}
<div class="d-flex justify-content-between align-items-center">
    <h4>Заявки</h4>
    <button class="btn btn-primary">
        <a asp-action="Create">Добавить заявку</a>
    </button>
</div>

<div class="grid-default grid-default-2 mb-3">

    @foreach (var item in statuses)
    {
        var isCurrent = currentStatusId == item.Id;
        <button class="btn p-1 px-2" style="background: @(isCurrent ? item.Color : "none")">
            <a asp-area="Customer" asp-controller="Request" asp-action="Index" asp-route-statusId="@item.Id" class="text" style="color: @(isCurrent ? "white" : item.Color)">@item.Name</a>
        </button>
    }
</div>


<div>
    @foreach (var item in Model.OrderByDescending(x => x.Id))
    {
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h3>
                        @item.Title
                    </h3>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                    <div class="grid-default grid-default-2 mb-2">
                        <p class="m-0">@DateHelpers.DateFormat(item.DateCreated)</p>
                        <p class="m-0 text-info">Желаемый дедлайн - @DateHelpers.DateFormat(item.DateDeadLine, true)</p>
                    </div>
                    <h6>Ваше примечание</h6>
                    <p class="m-0">
                        @item.Description
                    </p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="background: @item.Status.Status.Color;">
                    <p class="text text-white m-0">@item.Status.Status.Name</p>
                    @if (item.Contract != null)
                    {
                        <button class="btn btn-light">
                            <a class="text-primary" asp-area="Customer" asp-controller="Contract" asp-action="Details" asp-route-id="@item.Contract.Id">К договору</a>
                        </button>
                    }
                </li>
            </ul>
        </div>
    }
</div>